body {
    // height: 100%;
    background-image: url(src/assets/Virustop.png),url(src/assets/Virusbottom.png);
    background-repeat: no-repeat,no-repeat;
    background-position: left top, right bottom;
    background-color: #E5E7EB;
  }