<body>
  <div style="height:100vh;overflow:scroll;">

    <div style="background: #1874DE;
    border-radius: 6pt;
    margin-top: 40%;
    margin-left: 10%;
    margin-right: 10%;
    /* height: 60%; */
    color: white;
">
      <ion-row style="    font-size: 26pt;
      padding-top: 12px;
      padding-left: 10%;
      padding-right: 10%;"> Thank you, {{name}}</ion-row>
    <ion-row style="background: #1874DE;
    border-radius: 6pt;
    /* text-align: justify; */
    font-size: 12pt;
    padding-top: 12px;
    padding-left: 16px;
    padding-right: 16px;    line-height: 27px;
    padding-bottom: 16px;">Thank you for taking the time to complete the survey.We truly value the information you have provided.At Cohere Med we aim to make the health data useful so people can live healthier lives and in a time of public health crisis,we need more people like you whose contributions will drive healthcare innovation and imporove lives</ion-row>
    </div>

    <div  style="background: #1874DE;
    border-radius: 17pt;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    height: 32pt;" (click)="exitApp();">
      <ion-row style="padding-top: 8px;
      font-size: 12pt;
  ">
        <ion-col style="text-align: center; color:white">DONE</ion-col>
      </ion-row>
    </div>

    <p style="text-align: center;font-size: 10pt;color: #505050;
    bottom: 0px;
    width: 100%;">
      Copyright @2020 Cohere-Med Inc.All rights reserved
    </p>
  </div>
  
</body>