
<body>
  <div style="height:100vh;overflow:scroll;">
  <div style="padding-top: 24px; background: #1874DE;
  padding-bottom: 6px;    position: absolute;
    width: 100vw;    z-index: 999;  ">
  <ion-row>
    <ion-col style="text-align: center;color: white; min-width: 90%;">
      DYSPNEA INDEX
    </ion-col>
    <div  style="min-width: 5%;
    padding-bottom: 5px;">
      <ion-icon  style="float:right;color: white;font-size: 25px;" name="close-outline" width="15" height="15" (click)="close()"></ion-icon> 
    </div>
  </ion-row>
  </div>
 
<div style="
border-radius: 6pt;
margin-top: 20%;
margin-left: 10px;
margin-right: 10px;
margin-bottom: 10px;
background: #FFFFFF;
opacity: 80%;box-shadow: 0pt 1pt 4pt #00000029;">
<ion-row style=" color: #5A5A5A;
font-size: 14pt;
font-weight: 700;
padding-top: 50px;
padding-left: 25px;">
MRC Dyspnea index
</ion-row>
<ion-row style="    padding-top: 10px;
padding-left: 20px;
">
  <ion-col style="min-width:30%;color: #5A5A5A;
  font-weight: 800;
  font-size: 12pt;">Grade</ion-col>
  <ion-col style=" min-width: 70%;color: #5A5A5A;
  font-weight: 800;
  font-size: 12pt;">Degree of breathlessness related to activity</ion-col>
</ion-row>
<ion-row style="    padding-top: 10px;
padding-left: 20px;
">
  <ion-col style="min-width:30%">1</ion-col>
  <ion-col style=" min-width: 70%;">Not troubled by breathlessness except on strenuous exercise</ion-col>
</ion-row>

<ion-row style="    padding-top: 10px;
padding-left: 20px;
">
  <ion-col style="min-width:30%">2</ion-col>
  <ion-col style=" min-width: 70%;">Short of breath when hurrying on a level or when walking up slight hill</ion-col>
</ion-row>


<ion-row style="    padding-top: 10px;
padding-left: 20px;
">
  <ion-col style="min-width:30%">3</ion-col>
  <ion-col style=" min-width: 70%;">Walks slower than most people on the level, stops after a mile or so, or stops after 15 minutes walking at own pace</ion-col>
</ion-row>

<ion-row style="    padding-top: 10px;
padding-left: 20px;
">
  <ion-col style="min-width:30%">4</ion-col>
  <ion-col style=" min-width: 70%;">Stops for breath after walking 100 yards, or after a few minutes on level ground</ion-col>
</ion-row>


<ion-row style="    padding-top: 10px;
padding-left: 20px;
">
  <ion-col style="min-width:30%">5</ion-col>
  <ion-col style=" min-width: 70%;">Too breathless to leave the house, or breathless when dressing/ undressing</ion-col>
</ion-row>
</div>
</div>
</body>